:root {
    --vh: 1vh;
}

@include get-container();
@include grid-system();

body,
button,
input,
textarea {
    font-family: map-get($font-family, default);
}

html,
body {
    @include typo("body", 1);

    min-width: 320px;
    font-family: map-get($font-family, default);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overscroll-behavior: none;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
textarea {
    @include typo("body", 1);

    border: none;
    appearance: none;
}

pre {
    white-space: pre-line;
}

::selection {
    color: map-get($colors, white);
    background: map-get($colors, black);
}

a {
    text-decoration: none;
    color: inherit;

    &:hover,
    &:active,
    &:focus {
        outline: 0;
    }
}

button {
    @include typo("button", 1);

    background-color: transparent;
}

.editor {
    @include editor-setting;

    color: #000000;

    * {
        &:first-child {
            margin-top: 0 !important;
        }

        &:last-child {
            margin-bottom: 0 !important;
        }

        * {
            &:first-child {
                margin-top: 0 !important;
            }

            &:last-child {
                margin-bottom: 0 !important;
            }
        }
    }
}
