{% extends "layouts/base.twig" %}
{% block head %}
    {{ enqueue_style('index') }}
{% endblock %}
{% block script %}
    {{ enqueue_script('index') }}
{% endblock %}
{% block content %}
    <Test></Test>
    {# <icon svg-class="icon" name="right"></icon> #}
    <h1>{{ title }}</h1>
    {# <hello></hello> #}
    <img src="{{ posts[0].get_field('og')['thumb'] }}" class="js-lazy-image" alt="">
{% endblock %}
