{% extends "layouts/base.twig" %}

{% set body_class = 'page-index' %}
{% block head %}
    {{ enqueue_style('index') }}
{% endblock %}
{% block script %}
    {{ enqueue_script('index') }}
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <Icon name="up"></Icon>
    <img src="{{ posts[0].get_field('og')['thumb'] }}" class="page-index__img">
{% endblock %}
