{% extends "base.twig" %}

{% block style %}
    {{ enqueue_style('404') }}
{% endblock %}

{% block content %}
    <div class="404">
        <div class="container">
            Sorry, we couldn't find what you're looking for.
        </div>
    </div>
{% endblock %}