{% extends "base.twig" %}

{% block style %}
    {{ enqueue_style('archive-news', true) }}
{% endblock %}

{% block content %}
    <div class="archive-news">
        <div class="container">
            {% include "components/molecules/breadcrumb.twig" %}
            <ul>
                {% for post in posts %}
                    <li>
                        <a href="{{ post.guid }}">
                            {{ post.post_title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}