{% extends "base.twig" %}

{% block style %}
    {{ enqueue_style('single-news', true) }}
{% endblock %}

{% block content %}
    <div class="single-news">
        <div class="container">
            {% include "components/molecules/breadcrumb.twig" %}
            <div class="-editor">
                <div>
                    {{ fields.content }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}