.DS_Store
*.log
/node_modules

wordpress/*
wp-content/*
wp-content/themes/*
wp-content/themes/blockstudio-theme/src
!wordpress/.gitkeep
!wp-content/plugins
!wp-content/themes
!wp-content/themes/blockstudio-theme