<div class="o-loading">
    <Loading-default 
        :loading-config="loadingConfig" 
        :is-loading="isLoading"
    ></Loading-default >
    <Loading-ajax 
        :loading-config="loadingConfig" 
        :is-loading="isLoading"
    ></Loading-ajax >
</div>