:root {
    --vh: 1vh;
}

::selection {
    color: map-get($colors, white);
    background-color: map-get($admin-colors, primary);
}

@include get-container;
@include grid-system;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
button,
input,
textarea {
    font-family: map-get($font-family, default);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    @include typo('body', 1);

    min-width: 320px;
    overscroll-behavior: none;
}

input,
textarea {
    @include typo('body', 1);

    border: none;
    appearance: none;
}

pre {
    white-space: pre-line;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;

    &:hover,
    &:active,
    &:focus {
        outline: 0;
    }
}

button {
    @include typo('button', 1);

    color: currentColor;
    background-color: transparent;
}

#wrapper {
    padding-top: map-get($header-height, desktop);
    @include media-breakpoint-down(desktop) {
        padding-top: map-get($header-height, tablet);
    }
    @include media-breakpoint-down(tablet) {
        padding-top: map-get($header-height, mobile);
    }
}

.-editor {
    @include editor-setting;
}
