body {
    margin: 20px auto;
    padding: 20px !important;
    max-width: 780px;
    font-size: 16px;
    font-family: 'zh', sans-serif;
    font-weight: normal;
    color: #000000;
    background-color: #ffffff;
    -webkit-font-smoothing: antialiased;
    letter-spacing: normal;
    line-height: 1.5625;
}

a {
    text-decoration: none;
    color: #000000;
    transition: 0.3s ease-in-out all;
    cursor: pointer;
}

input {
    -webkit-appearance: none;
    border: 0;
    border-radius: 0;
}

p + p {
    margin-top: 20px;
}

p + img {
    margin-top: 20px;
}

b {
    font-weight: bold;
}

strong {
    font-weight: bold;
}

#mceu_33-body {
    display: none;

    #mceu_27,
    #mceu_28,
    #mceu_29,
    #mceu_30 {
        display: none;
    }
}

p {
    margin-top: 0;
}

.gallery {
    margin-bottom: 1.5em;
}

@include editor-setting;

.gallery-item {
    display: inline-block;
    width: 100%;
    text-align: center;
    vertical-align: top;
}

.gallery-item a,
.gallery-item a:hover,
.gallery-item a:focus {
    display: inline-block;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.gallery-caption {
    display: block;
}

.mejs-container {
    margin-bottom: 1.5em;
}

/* Audio Player */

.mejs-controls a.mejs-horizontal-volume-slider,
.mejs-controls a.mejs-horizontal-volume-slider:focus,
.mejs-controls a.mejs-horizontal-volume-slider:hover {
    background: transparent;
    border: 0;
}

.wp-playlist-light {
    color: #222222;
    border-color: #eeeeee;
}

.wp-playlist-light .wp-playlist-current-item .wp-playlist-item-album {
    color: #333333;
}

.wp-playlist-light .wp-playlist-current-item .wp-playlist-item-artist {
    color: #767676;
}

.wp-playlist-light .wp-playlist-item {
    border-bottom: 1px dotted #eeeeee;
    -webkit-transition:
        background-color 0.2s ease-in-out,
        border-color 0.2s ease-in-out,
        color 0.3s ease-in-out;
    transition:
        background-color 0.2s ease-in-out,
        border-color 0.2s ease-in-out,
        color 0.3s ease-in-out;
}

.wp-playlist-light .wp-playlist-item:hover,
.wp-playlist-light .wp-playlist-item:focus {
    color: #ffffff;
    background-color: #767676;
    border-bottom-color: rgba(0, 0, 0, 0);
}

.wp-playlist-light a.wp-playlist-caption:hover,
.wp-playlist-light .wp-playlist-item:hover a,
.wp-playlist-light .wp-playlist-item:focus a {
    color: #ffffff;
}

.wp-playlist-dark {
    background: #222222;
    border-color: #333333;
}

.wp-playlist-dark .mejs-container .mejs-controls {
    background-color: #333333;
}

.wp-playlist-dark .wp-playlist-caption {
    color: #ffffff;
}

.wp-playlist-dark .wp-playlist-current-item .wp-playlist-item-album {
    color: #eeeeee;
}

.wp-playlist-dark .wp-playlist-current-item .wp-playlist-item-artist {
    color: #aaaaaa;
}

.wp-playlist-dark .wp-playlist-playing {
    background-color: #333333;
}

.wp-playlist-dark .wp-playlist-item {
    border-bottom: 1px dotted #555555;
    -webkit-transition:
        background-color 0.2s ease-in-out,
        border-color 0.2s ease-in-out,
        color 0.3s ease-in-out;
    transition:
        background-color 0.2s ease-in-out,
        border-color 0.2s ease-in-out,
        color 0.3s ease-in-out;
}

.wp-playlist-dark .wp-playlist-item:hover,
.wp-playlist-dark .wp-playlist-item:focus {
    color: #222222;
    background-color: #aaaaaa;
    border-bottom-color: rgba(0, 0, 0, 0);
}

.wp-playlist-dark a.wp-playlist-caption:hover,
.wp-playlist-dark .wp-playlist-item:hover a,
.wp-playlist-dark .wp-playlist-item:focus a {
    color: #222222;
}

.wp-playlist {
    padding: 0.625em 0.625em 0.3125em;
}

.wp-playlist-current-item .wp-playlist-item-title {
    font-weight: 700;
}

.wp-playlist-current-item .wp-playlist-item-album {
    font-style: normal;
}

.wp-playlist-current-item .wp-playlist-item-artist {
    font-size: 10px;
    font-size: 0.625rem;
    font-weight: 800;
    letter-spacing: 0.1818em;
    text-transform: uppercase;
}

.wp-playlist-item {
    padding: 0 0.3125em;
    cursor: pointer;
}

.wp-playlist-item:last-of-type {
    border-bottom: 0;
}

.wp-playlist-item a {
    padding: 0.3125em 0;
    border-bottom: 0;
}

.wp-playlist-item a,
.wp-playlist-item a:focus,
.wp-playlist-item a:hover {
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.wp-playlist-item-length {
    top: 5px;
}

.rtl th {
    text-align: right;
}

.rtl ol {
    counter-reset: item;
}

.rtl ol li::before {
    right: -1.5em;
    left: auto;
}

.rtl li > ul,
.rtl li > ol {
    margin-right: 1.5em;
    margin-left: 0;
}

.rtl .mejs-offscreen {
    right: -10000px;
}
