.login {
    h1 a {
        background: url('~@/assets/img/logo.svg') no-repeat center / cover !important;
        pointer-events: none;

        &::before {
            content: '';
            display: block;
            padding-bottom: 100%;
            width: 100%;
        }
    }
}
