html {
    scroll-behavior: smooth;
}

#wpwrap {
    #wpbody-content > .wrap {
        padding-top: 0;
    }

    #adminmenu .wp-submenu {
        background-color: darken(map-get($admin-colors, primary), 15%);
    }

    #adminmenu li.menu-top:hover, #adminmenu li.opensub > a.menu-top, #adminmenu li > a.menu-top:focus, #wpadminbar {
        background-color: darken(map-get($admin-colors, primary), 10%);
    }

    #adminmenu, #adminmenuback, #adminmenuwrap {
        background-color: map-get($admin-colors, primary);
    }

    #adminmenu li.wp-menu-separator {
        height: auto;

        .separator {
            height: 1px;
            background-color: map-get($admin-colors, secondary);
        }
    }

    .nav-tab {
        &.nav-tab-active {
            color: map-get($colors, white);
            background-color: map-get($admin-colors, primary);
            border-color: map-get($admin-colors, primary);
        }
    }
}
