#wp-admin-bar-wpglobus-language-select {
    background: #40587c !important;
    border-right: #eeeeee 1px solid;
}

.wpglobus-wp-admin .wpglobus-dialog .ui-dialog-title::before {
    color: #000000 !important;
}

.wpglobus-wp-admin .ui-dialog.wpglobus-dialog .ui-dialog-titlebar {
    padding: 1em !important;
}

#wpglobus-plus-slug-recommendation {
    display: none;
}

.misc-pub-section.wpglobus-switch {
    display: none;
}

.wpglobus-wp-admin .wpglobus_dialog_icon {
    margin-top: 0;
}

.wpglobus-wp-admin .wpglobus-translatable {
    border-left: 1px solid #dddddd !important;
}

.wpglobus_dialog_start.wpglobus_dialog_icon {
    &::before {
        display: block;
        padding: 5px;
        font-size: 16px;
        color: #000000;
    }
}

.wpglobus-wp-admin .wpglobus-dialog .wpglobus-button-save {
    background: #40587c;
}

.widefat thead tr th.column-wpglobus_languages {
    width: 65px;
}
