@mixin make-row() {
    display: flex;
    margin-right: -$grid-gutter-width / 2;
    margin-left: -$grid-gutter-width / 2;
    flex-wrap: wrap;
}

@mixin make-col-ready() {
    padding-right: $grid-gutter-width / 2;
    padding-left: $grid-gutter-width / 2;
    width: 100%;
    max-width: 100%;
    box-sizing:
        if(
            variable-exists(include-column-box-sizing) and $include-column-box-sizing,
            border-box,
            null
        );
    flex-shrink: 0;
}

@mixin make-col($size, $columns: $grid-columns) {
    flex: 0 0 auto;
    width: percentage($size / $columns);
}

@mixin make-col-auto() {
    flex: 0 0 auto;
    width: auto;
}

@mixin make-col-offset($size, $columns: $grid-columns) {
    $num: $size / $columns;

    margin-left: if($num == 0, 0, percentage($num));
}

@mixin row-cols($count) {
    > * {
        flex: 0 0 auto;
        width: 100% / $count;
    }
}

@mixin make-grid-columns(
    $columns: $grid-columns,
    $breakpoints: $grid-breakpoints
) {
    @each $breakpoint in map-keys($breakpoints) {
        $infix: breakpoint-infix($breakpoint, $breakpoints);

        @include media-breakpoint-up($breakpoint, $breakpoints) {
            .col#{$infix} {
                flex: 1 0 0%;
            }

            .row-cols#{$infix}-auto > * {
                @include make-col-auto();
            }

            @if $grid-row-columns > 0 {
                @for $i from 1 through $grid-row-columns {
                    .row-cols#{$infix}-#{$i} {
                        @include row-cols($i);
                    }
                }
            }

            .col#{$infix}-auto {
                @include make-col-auto();
            }

            @if $columns > 0 {
                @for $i from 1 through $columns {
                    .col#{$infix}-#{$i} {
                        @include make-col($i, $columns);
                    }
                }

                @for $i from 0 through ($columns - 1) {
                    @if not($infix == '' and $i == 0) {
                        .offset#{$infix}-#{$i} {
                            @include make-col-offset($i, $columns);
                        }
                    }
                }
            }
        }
    }
}

@mixin grid-system() {
    .row {
        @include make-row();

        > * {
            @include make-col-ready();
        }
    }

    @include make-grid-columns();
}
