$padding: 8px;
$grid-columns: 12;
$grid-row-columns: 6;
$grid-gutter-width: $padding * 3;
$grid-breakpoints: (
    mobile: 0,
    tablet: 768px,
    medium: 1024px,
    desktop: 1200px,
    large: 1920px,
);
$container-max-widths: (
    mobile: 100%,
    tablet: 100%,
    medium: 100%,
    desktop: 1280px,
    large: 1280px,
);
$container-padding: (
    mobile: $padding * 3,
    tablet: $padding * 5,
);
$admin-colors: (
    primary: #40587c,
    secondary: #ababab,
);
$colors: (
    black: #000000,
    white: #ffffff,
);
$header-height: (
    desktop: 65px,
    tablet: 65px,
    mobile: 65px,
);
