@mixin make-container($gutter: $container-padding-x) {
  --#{$prefix}gutter-x: #{$gutter};
  --#{$prefix}gutter-y: 0;

  width: 100%;
  padding-right: calc(var(--#{$prefix}gutter-x) * .5); 
  padding-left: calc(var(--#{$prefix}gutter-x) * .5); 
  margin-right: auto;
  margin-left: auto;
}

@mixin get-container {
  %container {
    @include make-container;
  }

  .container,
  .container-fluid {
    @extend %container;
  }

  @each $breakpoint, $container-max-width in $container-max-widths {
    .container-#{$breakpoint} {
      @extend %container;
    }

    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
      %responsive-container-#{$breakpoint} {
        max-width: $container-max-width;
      }

      $extend-breakpoint: true;

      @each $name, $width in $grid-breakpoints {
        @if  $extend-breakpoint {
          .container#{breakpoint-infix($name, $grid-breakpoints)} {
            @extend %responsive-container-#{$breakpoint};
          }

          @if  $breakpoint == $name {
            $extend-breakpoint: false;
          }
        }
      }
    }
  }
}
