{% extends "base.twig" %}

{% block style %}
    {{ enqueue_style('single-news', false) }}
{% endblock %}
{% block script %}
    {{ enqueue_script('single-news', false) }}
{% endblock %}

{% block content %}
    <div class="single-news">
        <div class="container">
            {% include "components/molecules/breadcrumb.twig" %}
        </div>
    </div>
{% endblock %}