.o-header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    width: 100%;
    color: map-get($admin-colors, primary);
    background-color: map-get($colors, white);
    z-index: 99;

    &__logo {
        display: block;

        img {
            width: 45px;
        }
    }

    &__nav {
        ul {
            display: flex;
            align-items: center;
        }

        li {
            margin-left: 10px;
        }
    }
}
