.o-loading {
    @include size(100%);

    position: fixed;
    top: 0;
    left: 0;
    background: map-get($admin-colors, primary);
    z-index: 999;
    cursor: wait;

    > * {
        pointer-events: none;
    }
}
