html {
    --color-red: #ff0000;
}

$rwd: (
    mobile: 480px,
    tablet: 768px,
    medium: 1024px,
    desktop: 1200px,
    large: 1920px,
);

$container: (
    mobile: (width: 100%, gutter: 0, padding: 20px, media: 0),
    tablet: (width: 720px, gutter: 0, padding: 40px, media: 768px),
    desktop: (width: 1280px, gutter: 16px, padding: 40px, media: 1200px),
    large: (width: 1440px, gutter: 20px, padding: 40px, media: 1920px)
);

$colors: (
    default: #aaaaaa,
    main: #000000,
    main-hover: #555555,
    font-main: #000000,
    font-hover: #000000
);

$header-height: (
    desktop: 60px,
    tablet: 60px,
    mobile: 60px
);

$loading-delay: 800ms;
