{% if lang_switcher %}
    <ul class="m-lang-switcher">
        {% for lang in lang_switcher %}
            <li>
                <a href="{{ lang.link }}">{{ lang.text }}</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
