{% extends "base.twig" %}

{% block style %}
    {{ enqueue_style('page-search') }}
{% endblock %}

{% block content %}
    <div class="page-search">
        <div class="container">
            {% include "components/molecules/breadcrumb.twig" %}
            <ul class="page-search__main">
                {% for post in posts %}
                    <li class="page-search__post">
                        <a 
                            href="{{ post.guid }}" 
                            v-bg="'{{ require_assets('img/default.jpg') }}'"
                        >
                            <p>
                                {{ post.post_title }}
                            </p>
                        </a>
                    </li>
                {% endfor %}
            </ul>
            {% include "components/molecules/pagination.twig" %}
        </div>
    </div>
{% endblock %}