.page-index {
    &__main {
        padding-bottom: 200px;
    }

    &__title {
        @include typo('heading', 1);

        padding: 25px 0;
        text-align: center;
        color: map-get($admin-colors, primary);
    }
}
