<div class="m-breadcrumb">
    <ul class="m-breadcrumb__main">
        {% for item in breadcrumb %}
            <li class="m-breadcrumb__item">
                <a href="{{ item.url }}">
                    {{ item.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>